{% extends 'base.html' %}

{% block content %}
    <h1>Pokemon Move Details</h1>

    <div>
        <div>
            <h2>{{ pokemove.name }}</h2>
            <p>Type: {{ pokemove.type }}</p>
            <p>Owned by:</p>
            {% for pokemove in pokemove.poke_set.all %}
                <p>{{ poke.name }}</p>
            {% empty %}
                <p>Nobody has this move 😝</p>
            {% endfor %}
        </div>

        <div>
            <a href="{% url 'pokemoves_update' pokemove.id %}">Edit</a>
            <a href="{% url 'pokemoves_delete' pokemove.id %}">Delete</a>
        </div>
    </div>

{% endblock %}