{% extends 'base.html' %}

{% block content %}
    <form>
        <div>
            <input type="text" name="name" placeholder="name"/>
            <input type="submit" value="Search"/>
        </div>
        <a href="{% url 'poke_list' %}">Clear Search</a>
        <a href="{% url 'poke_create' %}">Add Pokemon</a>
    </form>
    <h1>{{header}}</h1>
    {% for poke in pokemon %}
    <img src="{{poke.img}}" alt="{{poke.name}}">
  
    <h3>Name: {{poke.name}}</h3>
    <h3>Number: {{poke.number}}</h3>
    <h3>Type: {{poke.type}}</h3>
    <p>Adopted by:
        <a href="/user/{{ poke.user.username }}">{{ poke.user.username }}</a>
    </p>
    {% endfor %}
{% endblock %}